@model OrphanageMVC.Models.OrphanageRegistrationView

@{
    ViewBag.Title = "Create";
}


<br />
<br />
<div class="container">
    <div class=" card bg-dark " style="color:white;padding :10px">
        <h2 class="text-center"> REGISTRATION </h2>
        <small> fields marked with <span style="color:#ff0000">*</span> are mandatory</small>
        <hr />
        <form action="/Create" method="post">
            <div class="form-group form-row">
                <div class="col text-center">
                    @Html.LabelFor(m => m.oName, new { @class ="required", @for="name" })
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.oName, new { htmlAttributes = new { @class = "form-control", @id = "name" } })
                    @Html.ValidationMessageFor(m => m.oName, "", new { @class = "text-danger" })
                </div>
                <div class="col text-center">
                    @Html.LabelFor(m => m.oRegistrationNum, new { @class = "required", @for = "regno" })
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.oRegistrationNum, new { htmlAttributes = new { @class = "form-control", @id = "regno" } })
                    @Html.ValidationMessageFor(m => m.oRegistrationNum, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <h4>Address Details</h4>
            <div class="form-group form-row">
                <div class="col text-center">
                    @Html.LabelFor(m => m.addressLine1, new { @class = "required", @for = "add1" })
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.addressLine1, new { htmlAttributes = new { @class = "form-control", @id = "addl1" } })
                    @Html.ValidationMessageFor(m => m.addressLine1, "", new { @class = "text-danger" })
                </div>
                <div class="col text-center">
                    @Html.LabelFor(m => m.addressLine2,  new { @for = "addl2" } )
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.addressLine2, new { htmlAttributes = new { @class = "form-control", @id = "addl2" } })
                </div>
            </div>
            <br />
            <div class="form-group form-row">
                <div class="col text-center">
                    @Html.LabelFor(m => m.landmark,  new { @for = "landmark" } )
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.landmark, new { htmlAttributes = new { @class = "form-control", @id = "landmark" } })
                </div>
                <div class="col text-center">
                    @Html.LabelFor(m => m.state, new { @class = "required", @for = "state" })
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.state, new { htmlAttributes = new { @class = "form-control", @id = "state" } })
                    @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group form-row">
                <div class="col text-center">
                    @Html.LabelFor(m => m.country, new { @class = "required", @for = "country" })
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.country, new { htmlAttributes = new { @class = "form-control", @id = "country" } })
                    @Html.ValidationMessageFor(m => m.country, "", new { @class = "text-danger" })
                </div>
                <div class="col text-center">
                    @Html.LabelFor(m => m.pincode, new { @class = "required", @for = "pincode" })
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.pincode, new { htmlAttributes = new { @class = "form-control", @id = "pincode" } })
                    @Html.ValidationMessageFor(m => m.pincode, "", new { @class = "text-danger" })
                </div>
                <div class="col text-center">
                    @Html.LabelFor(m => m.phoneNum, new { @class = "required", @for = "phone" })
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.phoneNum, new { htmlAttributes = new { @class = "form-control", @id = "phone" } })
                    @Html.ValidationMessageFor(m => m.phoneNum, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <h4> set password</h4>
            <hr />
            <div class="form-group form-row">
                <div class="col text-center">
                    @Html.LabelFor(m => m.password, new { @class = "required", @for = "password" })
                </div>
                <div class="col text-center">
                    @Html.EditorFor(m => m.password, new { htmlAttributes = new { @class = "form-control", @id = "passoword" } })
                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                </div>
                <div class="col text-center">
                    <label for="cpass" class="required">confirm password</label>
                </div>
                <div class="col text-center">
                    <input type="password" class="form-control" id="cpass" />
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">submit</button>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
