@*@model IEnumerable<FirstDemo.Models.orphanageRegistration1>*@
@model OrphanageMVC.Models.OrphanageRegistrationView

@{
    ViewBag.Title = "Index";
}


<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div>
                <div class="card bg-dark" style="padding:10px;color:white; margin:10px;">
                    <h3 class="text-center"> LOGIN</h3>
                    <hr />
                    <div class="text-center">
                        <form action="/OrphanageM/Index" method="post" style="display: inline-block">
                            @Html.AntiForgeryToken()
                            <div class="form-group ">
                                @Html.LabelFor(m => m.oRegistrationNum, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.oRegistrationNum, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.oRegistrationNum, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.password, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.password, htmlAttributes: new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card bg-light" style="padding:10px;color:white">
                    @Html.ActionLink("Register Here", "Create")
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            
            
        </div>
    </div>


</div>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}


