@*@model IEnumerable<FirstDemo.Models.orphanageRegistration1>*@
@model OrphanageMVC.Models.OrphanageRegistrationView

@{
    ViewBag.Title = "Index";
}


<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card bg-info" style="padding:10px">
                <h3 class="text-center"> LOGIN</h3>
                
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.oRegistrationNum, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.oRegistrationNum, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.oRegistrationNum, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group ">
                        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @class = "form-control", @type = "password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-success" />
                    </div>
                }



            </div>
        </div>
        <div class="col-lg-3">
            @Html.ActionLink("New Orphanage Registration", "Create")
        </div>
    </div>


</div>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}


