@model IEnumerable<OrphanageMVC.Models.OrphanageRegistrationView>

@{
    ViewBag.Title = "Index";
}
<h1> </h1>
<h1> . </h1>
<h1>List of Oraganisations</h1>



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/CSS/style.css" />

</head>
<body>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                @*<div class="col-sm-4 py-3 py-sm-3">*@
                <div class="col-lg-4 col-md-6 py-4 py-sm-3">
                    <div class="card box-shadow">
                        <img class="card-img-top" src="~/IMG/l3.png" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">@item.oName</h2>
                            <p class="card-text">@item.addressLine1</p>
                            <p class="card-text">@item.addressLine2</p>
                            <p class="card-text">@item.phoneNum</p>
                            <p class="card-text">@item.city</p>
                            
                                <a href="@Url.Action("Donor", "Card",new { id=@item.oId})" class="btn btn-success" style="font-size:20px;margin-left:15px">Donate</a>
                                <a href="@Url.Action("Adopter", "Visit",new { id=@item.oId})" class="btn btn-primary" style="font-size:20px;width:150px;align-items:center;margin-left:20px">Schedule Visit</a>

                           
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>




</body>





</html>
