<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Mycss.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body >
    <nav class="navbar navbar-expand-sm navbar-light fixed-top crd">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="~/assets/logo-nav.png" alt="logo" style="width:70px" />
            </a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/Card/Index" class="nav-link">Explore</a></li>
                </ul>

                @{
                    HttpContext context = HttpContext.Current;
                    if (User.Identity.IsAuthenticated)
                    {
                                <ul class="nav navbar-nav navbar-right mr-auto">
                                    <li class="nav-item"><a href="@Url.Action("SignOut", "OrphanageM")" class="nav-link"> Logout </a></li>
                                    <li class="nav-item"><a href="@Url.Action("Dashboard", "OrphanageM",new { id = Convert.ToInt32(User.Identity.Name) })" class="nav-link"> Dashboard </a></li>
                                </ul>
                        
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right mr-auto">
                            <li class="nav-item"><a href="/OrphanageM/Create" class="nav-link">Orphanage Register</a></li>
                            <li class="nav-item"><a href="/OrphanageM/Index" class="nav-link">Orphanage Login</a></li>
                        </ul>
                    }
                }


            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        <br />
        <br />
        <br />
        @RenderBody()
        <hr />
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row crd">
                <div class="col">
                    <p>Get in touch with us</p>
                    <hr />
                    <p>
                        68, Kandewadi, Khadilkar Road, C.p.tank
                        ,Mumbai
                        ,Maharashtra
                        ,	400004
                        <b> Phone Number	02266359408</b>
                    </p>
                </div>
                <div class="col">
                    <div class="crd">
                        <h4 class="title">Made with &#x2764; by</h4>
                        <div class="row">
                            <div class="col">
                                <ul>
                                    <li><p>Rajeev Chourey</p></li>
                                    <li><p>Pallavi Vanarse</p></li>
                                    <li><p>Zahid Ansari</p></li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul>
                                    <li><p>Sonali Jadhav</p></li>
                                    <li><p>Shweta Chindhe</p></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col">
                    <div class="button">
                        <input type="button" onclick="location.href='@Url.Action("Index","Home")'" class="btn" value="Back to home" />
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
